@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
.rastafarian-green {
  background: #018a2d !important;
}

.rastafarian-yellow {
  background: #fcde03 !important;
}

.rastafarian-red {
  background: #d40000 !important;
}
.rasta-body {
  background: linear-gradient(to right, #018a2d, #fcde03, #d40000);
  background-size: 400% 400%;
  animation: rastafarian-gradient 15s ease infinite;
}

@keyframes rastafarian-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
.logo-font {
  font-family: "Irish Grover";
}
